*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
    box-sizing: border-box;

}
/*Backgroung, navbar and login*/
header{
  background-image: linear-gradient(rgba(0,0,0,0.5) ,rgba(0, 0,0, 0.5) ),url(ro.jpg);
  height:100vh;
  background-size:cover;
  background-position: center;
  width: 100%;
   
  
}
.main ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;

}
.main ul li{
	display:inline-block;
}

.main ul li a{

	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
	font-size:18px;
}

.main ul li a:hover{
	background-color:#eb974e;
	color: #000; 
}
.main ul li.active a{
	background-color:#eb974e;
	color: #000; 
}

.logo img{
	float: left;
	width: 150px;
	height: auto;

}
.main
{
	max-width: 1200px;
	margin: auto;
}
.title{
	position:absolute;
	top:50%;
	left:60%;
	transform: translate(-50%, -50%);
	width: 1200px;
	margin: auto;


}
.title h1{
	color: #fff;
	font-size: 100px ;
 

}
.text1{
	position:absolute;
	top:70%;
	left:85%;
	transform: translate(-50%, -50%);
	width: 1200px;
	margin: auto;
}

.text1 ul{
	
	list-style-type: none;
	margin-top: 25px;



}
.text1 ul li{
	display:inline-block;

}

.text1 ul li a{

	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s ease;
	font-size:25px;


}

.text1 ul li a:hover{
	background-color:#fff;
	color: #000; 
}



/*hamburger*/
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: .9s;
}

body{
	
	line-height: 1.4;

}
.menu-wrap {
  position: fixed;
  top: 0;
  right:50px;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  padding: 1rem;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position:absolute;
  flex: none;
  width: 100%;
  height: 2px; 
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

 }

.menu-wrap .menu > div {
  background:rgba(235, 151, 78, 0.7);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  padding: 1rem;
  
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
  font-size:3rem;

}

 /*About section*/
 
.section_title{} .section_subtitle{
  margin-bottom: 7px;
  padding-left: 7px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #aaaaaa;
  border-left: 3px solid #bfa67a;
  font-size: 700;
  font-family: tahoma;
}

.section_main_title{
  margin-top: 0;
  margin-bottom: 37px;
  font-size: 30px;
  line-height: 1.27;
  font-weight: 300;
  padding-left: 17px;
}
 .section_main_title strong{
  font-weight: 600;
 }
 .about-box{
  -webkit-box-shadow:0 0 0 10px #000000 inset;
  box-shadow: 0 0 0 10px #000000 inset;
  margin-right: 0;
  margin-top: 0;
  position: relative;
  display: block;
 }
.box-overlay{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%
	background-color: #000;
	opacity: 0.5;
	z-index: 3;
	transform: translateY(30px) translateX(-30px);
  -webkit-transform:translateY(30px) translateX(-30px);
 }
 .about-box img{
  transform: translateY(30px) translateX(-30px);
  -webkit-transform:translateY(30px) translateX(-30px);
  width: 100%;
  z-index: 1;
  
 }
 .about-box img{
 	position: relative;
 }

.btn-color-background{
	-moz-user-select:none;
	background-image: -webkit-linear-gradient(145deg, #faa61f 0%, #faa61f 0%, #ed1847 100%);
	border: 1px solid #bfa67a;
	border-radius: 2px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 12px 40px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.5 ease 0s;
	vertical-align: middle;
	


}

.btn-color-background:hover{
	text-decoration: none;
	color: #272627;
	background: transparent;


}

/*sildes*/

.slider ul{
  position: absolute;
  left: 0;
  width:100% ;
  height: 80vh;
  background: #ccc; 
  margin: 0;
  padding: 0;
  top: 100;
}


.slider ul li
{
  list-style: none;
  position: relative;
  width: 25%;
  height: 100%;
  border-right: 0.5px solid #000;
  float: left;
  box-sizing: border-box;
  transition: 0.6s;
  text-align: center;
  overflow: hidden;
}
.slider ul li:nth-child(1)
{
  background:url(boy.jpg);
  background-size: cover;
  background-position: left;
  
}

.slider ul li:nth-child(2)
{
  background:url(teach.jpg);
  background-size: cover;
  background-position: left;
  
}
.slider ul li:nth-child(3)
{
  background:url(t.jpg);
  background-size: cover;
  background-position: left;
  
}
.slider ul li:nth-child(4)
{
  background:url(d.jpg);
  background-size: cover;
  background-position: left;
  
}
.slider ul li:nth-child(5)
{
  background:url(boy.jpg);
  background-size: cover;
  background-position: left;

}
.slider ul:hover li{
  width: 10%;
}
.slider ul li:hover{
  width: 70%; 
}

.slider ul li .content{
  position: absolute;
  left: 0;
  bottom: -700%;
  width: 100%;
  background: rgba(0,0,0,0.3);
  box-sizing: border-box;
  color: #fff; 
  opacity: 1;
  font-size: 300%;
}

.slider ul li .content h2{
	font-size: 100%;
		font-family: Century Gothic;
}

.slider ul li:hover .content{
  transition: 0.6s;
  top: 40%;
  transition-delay: 0.5s;
  opacity: 1;
}

.slider ul .border{
  width: 160px;
  height: 2px;
  background: #fff;
  margin: 40px auto;
}

.slider ul li .btn-3{
  border: 1px solid transparent;
  padding: 5px 20px;
  color: #000;
  text-decoration: none;
  transition: 0.6s ease;
  background-color: #eb974e;
}

/*analyst*/
.wix{
	position:absolute;
	top:330%;
	left:82%;
	transform: translate(-50%, -50%);
	width: 1200px;
	margin: auto;
}

.wix h1{
	color: #fff;
	font-size: 100px ;
}
@media only screen and (max-width: 1199px){
.wix h1{
    font-size: 4vw!important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

  .god{
	padding-top: 55%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
}
.container2{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.container2 .box{
	position: relative;
	width: 340px;
	padding: 40px;
	background: #fff;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
	margin: 20px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;


}
.container2 .box:before{
	content: '';
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(225,225,225,.2);
	z-index: 2;
	pointer-events: none;

}
.container2 .box .icon{
	position: relative;
	width: 80px;
	height: 80px;
	color: #fff;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border-radius: 50%;
	font-size: 40px;
	font-weight: 700;
	transition: 1s;

}

.container2 .box:nth-child(1) .icon{
	box-shadow: 0 0 0 0 #e91e63;
	background-image: url(person_1.jpg);
	

}
.container2 .box:nth-child(1):hover .icon{
	box-shadow: 0 0 0 400px #e91e63;
	
}

.container2 .box:nth-child(2) .icon{
	box-shadow: 0 0 0 0 #e91e63;
	background: #e91e63;
}
.container2 .box:nth-child(2):hover .icon{
	box-shadow: 0 0 0 400px #e91e63;
	
}
.container2 .box:nth-child(3) .icon{
	box-shadow: 0 0 0 0 #e91e63;
	background: #e91e63;
}
.container2 .box:nth-child(3):hover .icon{
	box-shadow: 0 0 0 400px #e91e63;
	
}

.container2 .box .content2{
	position: relative;
	z-index: 1;
	transition: 0.5s;

}

.container2 .box:hover .content2{
	color: #fff;

}


.container2 .box .content2 h3{
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
}
.container2 .box .content2 p{
	margin: 0;
	padding: 0;
}

/*services*/
.services-section{
  background-image:linear-gradient(rgba(0,0,0, .3),rgba(0,0,0,0.3)),url(bg_3.jpg);
  background-size: cover;
   padding: 60px 0;
   background-position: center;
   background-attachment: fixed;

   

}
.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}
.section-title{
  text-align: center;
  color: #eb974e;
  text-transform: uppercase;
  font-size: 30px;
}
.border{
  width: 160px;
  height: 2px;
  background: #22313f;
  margin: 40px auto;
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box{
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #22313f;
  cursor: pointer;
}

.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #f2784b;
  color: #f2784b;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon{
  background: #f2784b;
  color:#fff;
}
.service-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: arial;
}
.service-desc{
  font-size: 14px;
  font-family: arial;
}

@media screen and (max-width:960px) {
  .service-box{
    max-width: 45%;
  }
}

@media screen and (max-width:768px) {
  .service-box{
    max-width: 50%;
  }
}

@media screen and (max-width:480px) {
  .service-box{
    max-width: 100%;
  }
}

/*explore*/

.offer
{
  background-image:url(orange2.jpg);
  background-size: cover;
  background-position: center;
  height: 60vh;

}
.row3{
  margin: initial !important;

}

.explore{
  max-width: 500px;
  margin-top: 50px;
  padding: 60px;
  background: #ffffff8c;
  margin-bottom: 20px;

}
.explore h3{
  font-family: poppins;
  font-size: 30px;
}
.explore a{
margin-top: 40px;
  width: 100px;
  display: block;
  color: #fff !important;
  background: #000;
  text-decoration: none !important;
  padding: 10px;
  text-align: center;
}

.offer img{
  width: 450px;
  height: 350px;
  margin: -100px;
  margin-top:100px; 
  

}

/*slider*/
#slider_1 {
   margin: 0 auto;
   width: 800px;
   max-width: 100%;
   text-align: center;
}
#slider_1 input[type=radio] {
   display: none;
}
#slider_1 label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   padding: 10px;
   border: 3px solid #ccc;
   background: #fff;
   position: relative;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 300px;
}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}
#slides .slide_1 {
   background: #00171F;
}
#slides .slide_2 {
   background: #003459;
}
#slides .slide_3 {
   background: #007EA7;
}
#slides .slide_4 {
   background: #00A8E8;
}
#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(4),
#slide2:checked ~ #controls label:nth-last-child(4),
#slide3:checked ~ #controls label:nth-last-child(3),
#slide4:checked ~ #controls label:nth-last-child(2) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}

/*footer*/
.clr{
  clear: both;
}
.footer-wrapper{
  width: 100%;
  height: auto;
  min-height: 250px;
  margin:auto;
  background-image: url(black.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  padding-top: 75px;
top:760%;
}

.footer-mid-part{
  width: 100%;
  height: auto;
  margin: auto;
}
.footer-section-one{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  background: rgba(255,255,255,.1);
}
.footer-section-two{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
}
.footer-section-three{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  background: rgba(255,255,255,.1);
}
.footer-heading{
   width: 100%;
  height: auto;
  margin: auto;
}
.footer-heading h2{
  font-size: 18px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin: 0px;
}
.footer-contact-box{
  width: 100%;
  height: auto;;
  margin: auto;
  margin-top: 13px;
}
.footer-contact-icon{
  width: 25px;
  height: 25px;
  float: left;
}
.footer-contact-icon i{
  color: #fff;
  font-size: 20px;
}
.footer-contact-text{
  width: 85%;
  height: auto;
  float: left;
  margin-left: 10px;
}
.footer-contact-text p{
  font-size: 14px;
  text-align: left;
  color: #fff;
  cursor: pointer;
}
.footer-contact-text p a{
  font-size: 14px;
  text-align: left;
  color: #fff;
  text-decoration: none;

}
.footer-contact-text p:hover{
  color: #f00;
}
.footer-contact-box:hover .footer-contact-icon i{
   color: #f00;
}
.footer-contact-box:hover .footer-contact-text p a{
  color: #f00;
}
.footer-link{
  width: 100%;
  height:auto;
  margin: auto;
  margin-top: 20px;
}
.footer-link ul{
  margin:0px;
  padding: 0px;
}
.footer-link ul li{
  list-style-type: none;
  text-align: center;
  padding-top: 5px;
}
.footer-link ul li a{
  font-size: 14px;
  color: #fff;
  text-decoration: none;
   text-transform: capitalize;;
}
.footer-link ul li a:hover{
  color: #f00;
}
.footer-section-two .footer-heading h2{
  text-align: center;
}
.footer-form{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.footer-form-box{
   width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.footer-form-style{
  width: 100%;
  height: 40px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom:1px solid rgba(255,255,255,.1);
  background:transparent;
  font-size: 14px;
  text-align: left;
  padding: 0px 10px;
  color: #fff;
}
.footer-form-submit-style{
  width: 129px;
  height: 35px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background: rgba(255,255,255,.5);
  border:none;
  margin-top: 1px;
}
.footer-form-submit-style:active{
  background: #f00;
}
.footer-bottom{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer-bottom{
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.top-img{
  position: absolute;
  background: url(top-divder.png);
  top: -20px;
  left: 0px;
  width: 100%;
  height: 55px;
}

/*RESPONSIVE CODE*/
@media only screen and (max-width: 1199px){
  .footer-wrapper{
    position: relative;
    background-attachment: scroll;
  }

  .footer-section-one{
    padding: 12px;
  }
  .footer-social-icons ul li{
    margin-bottom: 5px;
  }
}