<!DOCTYPE html>
<html lang="en">
<head>

     <title>Questrite</title>
<!-- 

Known Template 

https://templatemo.com/tm-516-known

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/owl.carousel.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">



     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/mcq1.css">
     
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="F:\SIH\template\frontpage\index.html" class="navbar-brand">Questrite</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="F:\SIH\template\frontpage\index.html" class="smoothScroll">Home</a></li>
                         <li><a href="F:\SIH\template\about\about.html" class="smoothScroll">About Us</a></li>
                         <li><a href="F:\SIH\template\analyst\analyst.html" class="smoothScroll">Pychometric Analysts</a></li>
                         <li><a href="F:\SIH\template\our services\ourservices.html" class="smoothScroll">Our Tests</a></li>
                         <li><a href="F:\SIH\template\reviews\reviews.html" class="smoothScroll">Reviews</a></li>
                         <li><a href="F:\SIH\template\contact us\contactus.html" class="smoothScroll">Contact Us</a></li>
                         <li><a href="F:\SIH\template\sign up\signup.html" class="smoothScroll">Sign Up</a></li>
                         <li><a href="F:\SIH\template\faqs\faqs.html" class="smoothScroll">FAQs</a></li>

                    </ul>

                    
               </div>

          </div>
     </section>

 <!-- TESTIMONIAL -->
     <section id="testimonial">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         
                         
                               <div class="section-title">
                              <h2> School Students <small>All the best!</small></h2>
                         </div>

                              

                        

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                         <tr>
         <h3>
              <td>1. The equation x^2 +3x+1= 0 is know as</td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) Algebraic equation">  a) Algebraic equation
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) Polynomial equation"> b) Polynomial equation
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) Cubic equation">  c) Cubic equation
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) Transcendental equation  ">  d) Transcendental equation  
              </td>
         </h3>
    </tr>
    <br>
                                      

                             <tr>
         <h3>
              <td>2. Which of these measures used to analyze the central tendency of data?</td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) Mean and normal distribution">  a) Mean and normal distribution
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) Mean, median and mode"> b) Mean, median and mode
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) Range and mean">  c) Range and mean
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) Median, range and normal distribution ">  d) Median, range and normal distribution  
              </td>
         </h3>
    </tr>      
    <br>       
                   <tr>
         <h3>
              <td>3. Suppose we have a function: -4x2+4x+3. Find the maximum or minimum      of this function.</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="a) 12"> a) 12
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) 15">  b) 15
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) 14 ">  c) 14  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) 13 ">  d) 13  
              </td>
         </h3>
    
    </tr> 
    <br>                       
    <tr>
         <h3>
              <td>4. Accuracy refers to how closely a calculated value agrees with ______.</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="a) Each other"> a) Each other
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) True value">  b) True value
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) No other value ">  c) No other value  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) Same value ">  d) Same value  
              </td>
         </h3>
    
    </tr> 
    <br>  
     <tr>
         <h3>
              <td>5. Precision refers to how closely a calculated value agrees with ______.</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="a) Each other"> a) Each other
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) True value">  b) True value
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) No other value ">  c) No other value  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) Same value ">  d) Same value  
              </td>
         </h3>
    
    </tr> 
    <br> 
     <tr>
         <h3>
              <td>6. a% of 460- 34% of 356= 456. What is the value of a?</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) 110.5">  a) 110.5
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) 123.4">  b) 123.4
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) 120.4 ">  c) 120.4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) 125.4551">  d) 125.4551  
              </td>
         </h3>
    
    </tr> 
    <br>                     
    <tr>
         <h3>
              <td>7. Five years ago the ratio between ages of Meena and Sita was 3:4. After five years from now the ratio between their ages will be 5:6. Find the present age of Meena?</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) 22 years">  a) 22 years
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) 25 years">  b) 25 years
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) 15 years ">  c) 15 years  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) 20 years"> d) 20 years  
              </td>
         </h3>
    
    </tr> 
    <br>                 
    <tr>
         <h3>
              <td>8. A boat goes downstream at the rate of 9kmph and upstream at the rate of 6kmph. Find the speed of current?</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) 1.5kmph">  a) 1.5kmph
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) 2kmph">  b) 2kmph
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) 7.5kmph ">  c) 7.5kmph 
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) 4.5kmph"> d) 4.5kmph  
              </td>
         </h3>
    
    </tr> 
    <br>       
     <tr>
         <h3>
              <td>9. Find the relation between x and y: x=✓3136, y2= 3136:</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) x>y">  a) x>y
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) x<y">  b) x<y
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) x>=y ">  c) x>=y
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) x<=y"> d) x<=y  
              </td>
         </h3>
    
    </tr> 
    <br>      
    <tr>
         <h3>
              <td>10. Three numbers are in ratio of 2:3:4 and their L.C.M is 240. What is their H.C.F?</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) 40">  a) 40
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) 20">  b) 20
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) 10 ">  c) 10
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) 30"> d) 30  
              </td>
         </h3>
    
    </tr> 
    <br>      
    <tr>
         <h3>
              <td>11. She has been studying ______ two hours.</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) For">  a) For
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) Since">  b) Since
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) From ">  c) From
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) Till"> d) Till  
              </td>
         </h3>
    
    </tr> 
    <br>     
        <tr>
         <h3>
              <td>12. Identify the grammatically CORRECT sentence from the given choices</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) The woman to who I sold my house was a doctor">  a) The woman to who I sold my house was a doctor
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) The woman that I sell my house was a doctor">  b) The woman that I sell my house was a doctor
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) The woman to whom I sold my house was a doctor ">  c) The woman to whom I sold my house was a doctor
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) The woman who the house I sold to was a doctor"> d) The woman who the house I sold to was a doctor  
              </td>
         </h3>
    
    </tr> 
    <br> 
      <tr>
         <h3>
              <td>13. He has not recovered fully _______the shock of his failure.</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) Against">  a) Against
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) From">  b) From
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) Of ">  c) Of
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) Off"> d) Off  
              </td>
         </h3>
    
    </tr> 
    <br>  
          <tr>
         <h3>
              <td>14. Choose the exact opposite of <b>Rebuked</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) awarded">  a) awarded
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) invited">  b) invited
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) received ">  c) received
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) praised"> d) praised  
              </td>
         </h3>
    
    </tr> 
    <br>      

          <tr>
         <h3>
              <td>15. Animate: Find the synonym</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) Kill">  a) Kill
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) invited">  b) invited
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) received ">  c) received
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) praised"> d) praised  
              </td>
         </h3>
    
    </tr> 
    <br>      
                                   </div>
                                    
                              </div>

                         

               </div>
          </div>
     </section> 







     <!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Address</h2>
                              </div>
                              <address>
                                   <p>C. V. Raman College of Engineering <br> Bhubaneshwar, Odissa</p>
                              </address>

                              <ul class="social-icon">
                                   <li><a href="https://www.linkedin.com/school/cv-raman-college-of-engineering-cvrce-bhubaneswar/about"class="fa fa-linkedin"></a></li>
                                   <li><a href="https://cgu-odisha.ac.in/" class="fa fa-google"></a></li>
                                   <li><a href="https://www.instagram.com/cvrgu_timeline/" class="fa fa-instagram"></a></li>
                              </ul>

                              <div class="copyright-text"> 
                                   <p>Copyright &copy; 2020 Team Braniacs_1.0</p>
                                   
                                   <p>Smart India Hackathon</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Contact Info</h2>
                              </div>
                              <address>
                                   <p>+91 8847841320, +91 0657 2314074</p>
                                   <p><a href="mailto:taniyaghosh2209@gmail.com">taniyaghosh2209@gmail.com</a></p>
                              </address>

                              <div class="footer_menu">
                                   <h2>Quick Links</h2>
                                   <ul>
                                        <li><a href="#courses">Career</a></li>
                                        <li><a href="#">School Students</a></li>
                                        <li><a href="#">Graduates</a></li>
                                        <li><a href="#">Dropouts</a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="section-title">
                                   <h2>Know more about our Psychometric Analyst</h2>
                              </div>
                             <ul>
                                        <li><a href="https://onelife.net.in/" >   One Life</a></li>
                                        
                                   </ul>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->
     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>




 
  

  
</body>
</html>