{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

     <title>Questrite</title>
<!-- 

Known Template 

https://templatemo.com/tm-516-known

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
     <link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}">
     <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">



     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/templatemo-style.css'%}">
     
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="index" class="navbar-brand">Questrite</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="#top" class="smoothScroll">Home</a></li>
                         <li><a href="#about" class="smoothScroll">About Us</a></li>
                         <li><a href="#team" class="smoothScroll">Psychometric Analysts</a></li>
                         <li><a href="#courses" class="smoothScroll">Our Tests</a></li>
                         <li><a href="#testimonial" class="smoothScroll">Reviews</a></li>
                         <li><a href="#contact" class="smoothScroll">Contact Us</a></li>
                         <li><a href="#faqs" class="smoothScroll">FAQs</a></li>

                         {% if user.is_authenticated %}
                         <li>Hello, {{user.first_name}}</li>
                         <li><a href="logout" class="smoothScroll">Log out</a></li>
                         {% else %}
                         <li><a href="signup" class="smoothScroll">Sign Up</a></li>
                         {% endif %}
                    </ul>

                    
               </div>

          </div>
     </section>

     <h3 >
         
          <div style="text-align: right"  id="google_translate_element"></div>
          </h3>
     
          <script type="text/javascript">
          function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
          }
          </script>
          
          <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


     <!-- HOME -->
     <section id="home">
          <div class="row">

                    <div class="owl-carousel owl-theme home-slider">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>We make Individuals</h1>
                                             <h3>Questrite is a platform which lets you know your current correct present status, what you are best at, what you could be in future and gives you a perfect satisfying career guidance.</h3>
                                             <a href="signup" class="section-btn btn btn-default smoothScroll">Sign Up</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-second">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Start your journey with our highly accurate tests</h1>
                                             <h3>Our mission is to make people aware of their right skills so that they can achieve greater heights of success.</h3>
                                             <a href="#courses" class="section-btn btn btn-default smoothScroll">Take a test</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-third">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Find out what you like doing best</h1>
                                             <h3>With our powerful and flexible tech platform one can easily get the best career guidance. 
                                                  <br>We work for a cause, which is, to help the students to identify their correct career paths and help them to grab bright opportunities.</h3>
                                             <a href="#about" class="section-btn btn btn-default smoothScroll">Login</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
          </div>
     </section>


     <!-- FEATURE -->
     <section id="feature">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>01</span>
                              <h3>" Know your career at early stages "</h3>
                              <p>School is the building block of a student’s career. Students should start focusing and planning their career from this initial level.</p>
                              
                              <h4><a href="#courses">Go forward, take the test!</a></h4>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>02</span>
                              <h3>" Graduation is not the end, it’s the beginning "</h3>
                              
                              <p>Want to study further in your field? Or want a different field? Confused? We are here to provide the correct guidance. </p>
                             
                              <h4><a href="#courses">Go forward, take the test!</a></h4>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>03</span>
                              <h3>“It’s hard to beat a person who never gives up”</h3>
                              <p>There is always a lot to learn from a dropout. Being a dropout, the person aims or chooses a career that they would enjoy doing.</p>
                             
                              <h4><a href="#courses">Go forward, take the test!</a></h4>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- ABOUT -->
     <section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="about-info">
                              <h2>Start your journey to a better career planning with three steps approach :</h2>

                              <figure>
                                   <span><i class="fa fa-users"></i></span>
                                   <figcaption>
                                        <h3>Discover your interest</h3>
                                        <p>What appeals you and accordingly what are the right career options for you. Science has the answer for that, though people rarely use it. The psychometric and aptitude tests architected by Questrite generates a detailed profile of students which provides the in depth analysis of their interests, skills and aptitude.</p>
                                   </figcaption>
                              </figure>

                              <figure>
                                   <span><i class="fa fa-certificate"></i></span>
                                   <figcaption>
                                        <h3>The Career Roadmap</h3>
                                        <p> Before getting in to any career, it is advisable to get the insights of that particular field. That is exactly what our Machine learning model does - it designs your career path.</p>
                                   </figcaption>
                              </figure>

                              <figure>
                                   <span><i class="fa fa-bar-chart-o"></i></span>
                                   <figcaption>
                                        <h3>Game of information</h3>
                                        <p>Your career is important to us. Getting the right information is crucial in today’s information age. How often it happens when we miss the opportunities due to lack of information. Questrite won’t let that happen. We provide you the detailed information about career path and why you should go for it.</p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>

                    <div class="col-md-offset-1 col-md-4 col-sm-12">
                         <div class="entry-form">
                              <form action="about" method="post">
                                   <h2>Login now</h2>
                                   <div>
                                        {% for message in messages %}
                                        <h3>
                                             <style>
                                                  h3 {
                                                       color: red;
                                                  }
                                             </style>
                                             {{message}}
                                        </h3>
                                        {% endfor %}
                                   </div>
                                   {% csrf_token %}
                                   <input type="text" name="username" class="form-control" placeholder="Username" required="">

                                   <input type="password" name="password" class="form-control" placeholder="Your password" required="">

                                   <button class="submit-btn form-control" id="form-submit">Get started</button>
                              </form>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- TEAM -->
     <section id="team">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>One Life Corporations <small>Bhubaneswar's top career and mental health counselling center </small></h2>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="{% static 'images/onelife.jpeg'%}" class="img-responsive" alt="">
                              </div>
                              <div class="team-info">
                                   <h3></h3>
                                   <span></span>
                              </div>
                              <ul class="social-icon">
                                  
                              </ul>
                         </div>
                    </div>

                 

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="{% static 'images/onelife1.jpeg'%}" class="img-responsive" alt="">
                              </div>
                              <div class="team-info">
                                   <h3>Summon Patra</h3>
                                   <span>CEO </span>
                              </div>
                              <ul class="social-icon">
                              
                                   <li><a href="https://www.instagram.com/onelife_global/" class="fa fa-instagram"></a></li>
                                   <li><a href="https://www.linkedin.com/company/onelife-global/" class="fa fa-linkedin"></a></li>
                                    <li><a href="https://onelife.net.in/" class="fa fa-google"></a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="{% static 'images/onelife2.jpeg'%}" class="img-responsive" alt="">
                              </div>
                              <div class="team-info">
                                   <h3>Snigdha Dhal</h3>
                                   <span>Counselling Psychologist</span>
                              </div>
                              <ul class="social-icon">
                                   
                                   <li><a href="https://www.instagram.com/onelife_global/" class="fa fa-instagram"></a></li>
                                   <li><a href="https://www.linkedin.com/company/onelife-global/" class="fa fa-linkedin"></a></li>
                                   
                                    <li><a href="https://onelife.net.in/" class="fa fa-google"></a></li>
                              </ul>
                         </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="{% static 'images/onelife.jpeg'%}" class="img-responsive" alt="">
                              </div>
                              <div class="team-info">
                                   <h3></h3>
                                   <span></span>
                              </div>
                              <ul class="social-icon">
                                  
                              </ul>
                         </div>
                    </div>
               </div>

               <a href="counsellor"><h4>Let's Talk</h4></a>

          </div>
     </section>


     <!-- Services -->
     <section id="courses">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Choose a test which suits you the best! <small>Upgrade your knowledge about yourself</small></h2>
                         </div>

                         <div class="owl-carousel owl-theme owl-courses">
                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="{% static 'images/courses-image1.jpg'%}" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                      <span><i class="fa fa-clock-o"></i> 48 Questions</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#courses">Personality Test</a></h3>
                                                  <p>It is a psychometric test designed for all age groups of people.</p>
                                                  <p>It takes in accordance people's choices and interests rather than their aptitude and predict their career options. </p>
                                                
                                                  <h4><a href="personality">Begin the test</a></h4>
                                             </div>

                                           
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="{% static 'images/t.jpg'%}" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-clock-o"></i> 30 questions</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="courses">For Graduates</a></h3>
                                                  <p>Graduates appear for the level two of the test.</p>
                                                   <p>We understand that graduation is the major learning and implementing part of one’s career. Hence, a proper planning of the future and working according to the plan is really important.</p>
                                                  <h4><a href="test2">Begin the test</a></h4>
                                             </div>

                                            
                                        </div>
                                   </div>
                              </div>

                              

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="{% static 'images/courses-image4.jpg'%}" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       
                                                       <span><i class="fa fa-clock-o"></i> 30 Questions</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#courses">For School Students </a></h3>
                                                  
                                                  <p>We believe that students should fit their needs and interests from the beginning of their career.</p>

                                                  <p>Knowing this, we offer students a better perspective in  terms of their career paths. We understand how crucial these years can be.</p>
                                                  <h4><a href="test1">Begin the test</a></h4>
                                             </div>

                                             
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="{% static 'images/courses-image5.jpg'%}" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                  
                                                       <span><i class="fa fa-clock-o"></i> 30 Questions</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#courses">For Dropouts</a></h3>
                                                  <p>Success has no time limit. There is always the determination that matters.</p>
                                                  <p>Our mission is to make people aware of their right skills so that they can achieve greater heights of success at any point.</p>
                                                  <h4><a href="test3">Begin the test</a></h4>
                                             </div>

                                             
                                        </div>
                                   </div>
                              </div>

                         </div>

               </div>
          </div>
     </section>


   <!-- TESTIMONIAL -->
     <section id="testimonial">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2> Reviews <small>from people from different fields</small></h2>
                         </div>

                         <div class="owl-carousel owl-theme owl-client">
                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="{% static 'images/sunny.jpeg'%}" class="img-responsive" alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h4>Sunny Sourab</h4>
                                             <span>Junior Developer, CGI Inc.</span>
                                        </div>
                                        <p>The procedure is really great. It was really lengthy but helpful. School students will be really benefited by this.</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="{% static 'images/pani.jpeg'%}" class="img-responsive" alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h4>Priyanka Pani</h4>
                                             <span>HR, Qualcomm Inc.</span>
                                        </div>
                                        <p>The questions were really basic and productive. It is a secure assessment. I will definately suggest it.</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="{% static 'images/usha.jpeg'%}" class="img-responsive" alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h4>Usha Gope</h4>
                                             <span>Zumba Instructor</span>
                                        </div>
                                        <p>You really do help young creative minds to get  professional career search assistance. I’d recommend it to everyone!</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="{% static 'images/tripathi.jpeg'%}" class="img-responsive" alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h4>Ashish Tripathy</h4>
                                             <span>Web Developer, Sony India</span>
                                        </div>
                                        <p>Saves paper and time. Can be easily accessed by anyone after registration. It helped me understanding myself better.</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                         </div>

               </div>
          </div>
     </section> 



     <!-- CONTACT -->
     <section id="contact">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <form id="contact-form" role="form" action="" method="post">
                              <div class="section-title">
                                   <h2>Contact us <small>we love conversations. let us talk!</small></h2>
                              </div>

                              <div class="col-md-12 col-sm-12">
                                   <input type="text" class="form-control" placeholder="Enter full name" name="name" required="">
                    
                                   <input type="email" class="form-control" placeholder="Enter email address" name="email" required="">

                                   <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message" required=""></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="send message" value="Send Message">
                              </div>

                         </form>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="contact-image">
                              <img src="{% static 'images/contact-image.jpg'%}" class="img-responsive" alt="Smiling Two Girls">
                         </div>
                    </div>

               </div>
          </div>
     </section>       
 <!-- FAQS -->
     <section id="faqs">
          <div class="container">
               <div class="row1">
                     <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Frequently Asked Questions <small>Get answers to all your doubts</small></h2>
                         </div>
                    </div>
                    

                
                      <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              
                              <h3>How often can you give the test?</h3>
                              <p>The student can only appear the test once. </p>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              
                              <h3>What is the test requirement?</h3>
                              <p>The applicant needs to login and register himself/herself before attending the test. </p>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              
                              <h3>What qualifications do you need to give the test?</h3>
                              <p>You should either be a school student, a graduate or a dropout.</p>
                         </div>
                    </div>
               </div>
               
          </div>




          <div class="container">
               <div class="row2">
                     
                    

                   
                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              
                              <h3>Can anyone take the test?</h3>
                              <p>We have provided three levels of test - one for school students, the other for graduates, and the last one for the dropouts.
                               Therefore, anyone within these three levels can take the test.</p>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              
                              <h3>Are the questions valid, would it help the student anyway?</h3>
                              <p>Yes, the test questions are verified by a certified psychometric analyst. 
                                   So, the test would be absolutely helpful. </p>
                         </div>
                    </div>

                    
                <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              
                              <h3>Is this a paid career counselling?</h3>
                              <p>No, initially we are providing free career counselling to the students of these three levels. Hence, the student of any of these three levels can appear the test.</p>
                         </div>
                    </div>
          </div>
     </div>



          <div class="container">
               <div class="row3">
                     
                         <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              
                              <h3>Is it an online or offline?</h3>
                              <p>The test is available only online.</p>
                         </div>
                    </div>

                    

                  <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              
                              <h3>What topic does the questionnaire cover?</h3>
                              <p>The test mostly covers six fields of interest based upon the applicant’s personality and their level of the test.</p>
                         </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              
                              <h3>What is the duration of the test?</h3>
                              <p>There is no duration of the test. But give it at one go.</p>
                         </div>
                    </div>
               </div>

                   
               
               
          </div>
     </section>


     <!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Address</h2>
                              </div>
                              <address>
                                   <p>C. V. Raman College of Engineering <br> Bhubaneswar, Odisha</p>
                              </address>

                              <ul class="social-icon">
                                   <li><a href="https://www.linkedin.com/school/cv-raman-college-of-engineering-cvrce-bhubaneswar/about"class="fa fa-linkedin"></a></li>
                                   <li><a href="https://cgu-odisha.ac.in/" class="fa fa-google"></a></li>
                                   <li><a href="https://www.instagram.com/cvrgu_timeline/" class="fa fa-instagram"></a></li>
                              </ul>

                              <div class="copyright-text"> 
                                   <p>Copyright &copy; 2020 Team Braniacs_1.0</p>
                                   
                                   <p>Smart India Hackathon</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Contact Info</h2>
                              </div>
                              <address>
                                   <p>+91 8847841320, +91 0657 2314074</p>
                                   <p><a href="mailto:taniyaghosh2209@gmail.com">taniyaghosh2209@gmail.com</a></p>
                              </address>

                              <div class="footer_menu">
                                   <h2>Quick Links</h2>
                                   <ul>
                                        <li><a href="#courses">Career</a></li>
                                        <li><a href="#">School Students</a></li>
                                        <li><a href="#">Graduates</a></li>
                                        <li><a href="#">Dropouts</a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="section-title">
                                   <h2>Know more about our Psychometric Analyst</h2>
                              </div>
                             <ul>
                                        <li><a href="https://onelife.net.in/" >   One Life</a></li>
                                        
                                   </ul>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->
     <script src="{% static 'js/jquery.js'%}"></script>
     <script src="{% static 'js/bootstrap.min.js'%}"></script>
     <script src="{% static 'js/owl.carousel.min.js'%}"></script>
     <script src="{% static 'js/smoothscroll.js'%}"></script>
     <script src="{% static 'js/custom.js'%}"></script>




 
  

  
</body>
</html>