{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Top 100 Colleges</title>
	 <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
     <link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}">
     <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">



     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/colleges.css'%}">
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
	<!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>

      <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="index" class="navbar-brand">Questrite</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
               	 <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="index" class="smoothScroll">Home</a></li>
                         <li><a href="realistic" class="smoothScroll">Realistic</a></li>
                         <li><a href="#top" class="smoothScroll">Investigative</a></li>
                         <li><a href="artistic" class="smoothScroll">Artistic</a></li>
                         <li><a href="social" class="smoothScroll">Social</a></li>
                         <li><a href="enterprising" class="smoothScroll">Enterprising</a></li>
                           <li><a href="conventional" class="smoothScroll">Conventional</a></li>
                         
                        

                    </ul>

               </div>

          </div>
     </section>

      <!-- FEATURE -->
     <section id="feature">
          <div class="container">
                <div class="section-title" style="text-align: center;">
                              <h2>Know what being a 'INVESTIGATIVE' actually means..</h2>
                              
                         <div class="feature-thumb">
                              <p style="font-size: 17px">You who prefer to work with "data".<br> You like to "think and observe rather than act, to organize and understand information rather than to persuade". You also prefer "individual rather than people oriented activities"</p>
                              <p style="font-size: 17px"> Investigative occupations frequently involve working with ideas, and require an extensive amount of thinking. These occupations can involve searching for facts and figuring out problems mentally.</p>
                              
                              
                         </div>
     
                    </div>

                     <div class="row">
                    
                         
                   

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              
                               <h5 style="text-align: center;">For help in Engineering Sector Contact <br> Prof. P. Kanungo <br>HOD Electronics and Telecommunication Dept. <br>C. V. Raman College of Engineering, Bhubaneswar<br> Phone : +91-9437224153</h5>
                              
                             
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                               <h5 style="text-align: center;">For help in Medical Sector Contact <br> Mr. Arbab Mohammad <br>MBBS Final year student <br>Pondicherry Medical College, Pondicherry<br> Phone : +91-8249322367</h5>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                               <h5 style="text-align: center;">For help in Law Sector Contact <br> Miss Sakuntala Pradhan <br>Advocate <br>High Court, Cuttack<br> Phone : +91-6370309388</h5>
                         </div>
                    </div>

               </div>
               <br>
               <br>
     
               <div class="row">
               	 <div class="col-md-12 col-sm-12">
                         <div class="section-title" style="text-align: center;">
                              <h2>Top 100 Colleges For Investigative Personality Type<small>According to All India Ranking  </small></h2>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>01</span>
                              <h3>Medical Colleges</h3>
                              
                              
                              <h4><a href="https://www.nirfindia.org/2020/MedicalRanking.html">Click here</a></h4>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>02</span>
                              <h3>Computer Science Colleges</h3>
                              
                             
                             
                              <h4><a href="https://www.nirfindia.org/2020/EngineeringRanking.html">Click here</a></h4>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>03</span>
                              <h3>Law Colleges</h3>
                              
                              <h4><a href="https://www.nirfindia.org/2020/LawRanking.html">Click here</a></h4>
                         </div>
                    </div>

               
              

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>04</span>
                              <h3>Psychology Colleges</h3>
                              
                              
                              <h4><a href="https://collegedunia.com/ba/psychology-colleges">Click here</a></h4>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>05</span>
                              <h3>Economics Colleges</h3>
                              
                             
                             
                              <h4><a href="https://www.theindianwire.com/education/best-colleges-india-economics-88250/">Click here</a></h4>
                         </div>
                    </div>

                    </div>

               </div>






                       
                    </div>

</div>
</section>
 <!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Address</h2>
                              </div>
                              <address>
                                   <p>C. V. Raman College of Engineering <br> Bhubaneshwar, Odissa</p>
                              </address>

                              <ul class="social-icon">
                                   <li><a href="https://www.linkedin.com/school/cv-raman-college-of-engineering-cvrce-bhubaneswar/about"class="fa fa-linkedin"></a></li>
                                   <li><a href="https://cgu-odisha.ac.in/" class="fa fa-google"></a></li>
                                   <li><a href="https://www.instagram.com/cvrgu_timeline/" class="fa fa-instagram"></a></li>
                              </ul>

                              <div class="copyright-text"> 
                                   <p>Copyright &copy; 2020 Team Braniacs_1.0</p>
                                   
                                   <p>Smart India Hackathon</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Contact Info</h2>
                              </div>
                              <address>
                                   <p>+91 8847841320, +91 0657 2314074</p>
                                   <p><a href="mailto:taniyaghosh2209@gmail.com">taniyaghosh2209@gmail.com</a></p>
                              </address>

                              <div class="footer_menu">
                                   <h2>Quick Links</h2>
                                   <ul>
                                        <li><a href="#courses">Career</a></li>
                                        <li><a href="#">School Students</a></li>
                                        <li><a href="#">Graduates</a></li>
                                        <li><a href="#">Dropouts</a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="section-title">
                                   <h2>Know more about our Psychometric Analyst</h2>
                              </div>
                             <ul>
                                        <li><a href="https://onelife.net.in/" >   One Life</a></li>
                                        
                                   </ul>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>
 <!-- SCRIPTS -->
     <script src="{% static 'js/jquery.js'%}"></script>
     <script src="{% static 'js/bootstrap.min.js'%}"></script>
     <script src="{% static 'js/owl.carousel.min.js'%}"></script>
     <script src="{% static 'js/smoothscroll.js'%}"></script>
     <script src="{% static 'js/custom.js'%}"></script>

</body>
</html>