<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
    <h3>
        <td>1. Test the quality of parts before shipment</td>
   </h3>
   <h3>
        <td>
             <input type="radio" name="GROUP1" value="a) 1">  a) 1
        </td>
   </h3>
   <h3>
        <td>
             <input type="radio" name="GROUP1" value="b) 2"> b) 2
        </td>
   </h3>
   <h3>
        <td>
             <input type="radio" name="GROUP1" value="c) 3">  c) 3
        </td>
   </h3>
   <h3>
        <td>
             <input type="radio" name="GROUP1" value="d) 4">  d) 4  
        </td>
   </h3>
   <h3>
        <td>
             <input type="radio" name="GROUP1" value="d) 5">  e) 5  
        </td>
   </h3>
   
</tr>
<br>
<input type="submit">
</form>
    
</body>
</html>