<!DOCTYPE html>
<html lang="en">
<head>

     <title>MCQ2</title>
<!-- 

Known Template 

https://templatemo.com/tm-516-known

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/owl.carousel.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">



     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/mcq2.css">
     
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="F:\SIH\template\frontpage\index.html" class="navbar-brand">Questrite</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="F:\SIH\template\frontpage\index.html" class="smoothScroll">Home</a></li>
                         <li><a href="F:\SIH\template\about\about.html" class="smoothScroll">About Us</a></li>
                         <li><a href="F:\SIH\template\analyst\analyst.html" class="smoothScroll">Pychometric Analysts</a></li>
                         <li><a href="F:\SIH\template\our services\ourservices.html" class="smoothScroll">Our Tests</a></li>
                         <li><a href="F:\SIH\template\reviews\reviews.html" class="smoothScroll">Reviews</a></li>
                         <li><a href="F:\SIH\template\contact us\contactus.html" class="smoothScroll">Contact Us</a></li>
                         <li><a href="F:\SIH\template\sign up\signup.html" class="smoothScroll">Sign Up</a></li>
                         <li><a href="F:\SIH\template\faqs\faqs.html" class="smoothScroll">FAQs</a></li>

                    </ul>

                    
               </div>

          </div>
     </section>

 <!-- TESTIMONIAL -->
     <section id="testimonial">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         
                         
                               <div class="section-title">
                              <h2> Graduates <small>All the best!</small></h2>
                         </div>

                              

                        

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                         <tr>
         <h3>
          <img src="images/1.jpg" class="img-responsive">
              <td>1. What are the average marks obtained by all the seven students in Physics?</td>

         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) 77.26">  a) 77.26
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) 89.14"> b) 89.14
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) 91.37">  c) 91.37
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) 96.11  ">  d) 96.11  
              </td>
         </h3>
    </tr>
    <br>
                                      

                             <tr>
         <h3>
              <td>2. The number of students who obtained 60% and above marks in all subjects</td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) 1">  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) 2"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) 3">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) None ">  d) None  
              </td>
         </h3>
    </tr>      
    <br>       
                   <tr>
         <h3>
              <td>3. What was the aggregate of marks obtained by Sajal in all the six subjects</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="a) 409"> a) 409
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) 419">  b) 419
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) 429 ">  c) 429  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) 449 ">  d) 449  
              </td>
         </h3>
    
    </tr> 
    <br>                       
    <tr>
         <h3>
              <td>4. In which subject is the overall percentage best?</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="a) Maths"> a) Maths
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) Chemistry">  b) Chemistry
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) Physics ">  c) Physics  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) History ">  d) History  
              </td>
         </h3>
    
    </tr> 
    <br>  
     <tr>
         <h3>
              <td>5. What is the overall percentage of Tarun?</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="a) 52.5%"> a) 52.5%
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) 55%">  b) 55%
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) 60% ">  c) 60%  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) 63% ">  d) 63%  
              </td>
         </h3>
    
    </tr> 
    <br> 
     <tr>
         <h3>
              <td>6. A dealer buys an article marked at Rs. 50,000 at 25% and 10% successive discount. He spends Rs. 5000 on its repair and sells it for Rs. 50,000. What is his loss or gain percentage?</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) 33.63% loss">  a) 33.63% loss 
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) 26.43% gain">  b) 26.43% gain
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) 1.25% gain ">  c) 1.25% gain  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) 29.03% gain">  d) 29.03% gain  
              </td>
         </h3>
    
    </tr> 
    <br>                     
    <tr>
         <h3>
              <td>7. Each Student of a class collected some money for the trip. The total money collected by each student was equal to the cube of the total number of students. If the total amount collected was Rs. 29791. find the total number of students.</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) 31">  a) 31
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) 30">  b) 30
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) 28 ">  c) 28  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) 37"> d) 37  
              </td>
         </h3>
    
    </tr> 
    <br>                 
    <tr>
         <h3>
              <td>8. P, Q and R can do a piece of work in 18, 24 and 36 days on the second day and P on the third day, again R on the fourth day and so on. Then in how, many days will the work be completed?</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) 25">  a) 25
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) 24">  b) 24
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) 22 ">  c) 22 
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) 20"> d) 20  
              </td>
         </h3>
    
    </tr> 
    <br>       
     <tr>
         <h3>
              <td>9. Harshika wants to purchase a mobile handset. The shopkeepers told her to pay 30% tax if she asked for the actual sale price (without tax) of the mobile and paid to the shopkeeper Rs. 16150. In the doing so, she managed to avoid to pay the 30% tax. What is the amount of discount that she received on the selling price (inclusive of tax)?</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) Rs. 5495 ">  a) Rs. 5495 
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) Rs. 5850">  b) Rs. 5850
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) Rs. 5950 ">  c) Rs. 5950
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) Rs. 5685"> d) Rs. 5685  
              </td>
         </h3>
    
    </tr> 
    <br>      
    <tr>
         <h3>
              <td>10. tank can be filled by a tap in 6 hours and emptied by an outlet pipe in 8 hours. How long will it take to fill the cistern if both the taps are opened together?</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) 24 hours ">  a) 24 hours 
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) 22 hours ">  b) 22 hours 
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) 21 hours ">  c) 21 hours
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) 18 hours"> d) 18 hours  
              </td>
         </h3>
    
    </tr> 
    <br>      
    <tr>
         <h3>
              <td>11. Replace the phase underlined. <br>
              The orator <u>had been left</u> the auditorium before the audience stood up.
              </td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) had been leaving">  a) had been leaving
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) was left">  b) was left
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) had left ">  c) had left
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) No correction required"> d) No correction required  
              </td>
         </h3>
    
    </tr> 
    <br>     
        <tr>
         <h3>
              <td>12. Find the correct alternative for the underlined world.<br>
              His speech <u>went down well with</u> the majority of the audience.
              </td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) found acceptance with">  a) found acceptance with
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) was attentively listened to by">  b) was attentively listened to by
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) was appreciated by ">  c) was appreciated by
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) was applauded by"> d) was applauded by  
              </td>
         </h3>
    
    </tr> 
    <br> 
      <tr>
         <h3>
              <td>13. Pick out the most effective word from the given words for the underline.<br>
              Government buildings are _______ on the Republic Day.
              </td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) enlightened">  a) enlightened
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) lightened">  b) lightened
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) illuminated ">  c) illuminated
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) glowed"> d) glowed  
              </td>
         </h3>
    
    </tr> 
    <br>  
          <tr>
         <h3>
              <td>14. Pick up the most nearest word for the underlined word.<br> 
              No one will invite her to a tea party for she is so <u>garrulous</u>
              </td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) talks a lot">  a) talks a lot
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) giggles all the time">  b) giggles all the time
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) laughs a lot ">  c) laughs a lot
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) repeats gossip"> d) repeats gossip  
              </td>
         </h3>
    
    </tr> 
    <br>      

          <tr>
         <h3>
              <td>15. Choose the one which can be substituted for the given underlined sentence<br>
              <u>To slap with a flat object</u>  
              </td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) Chop">  a) Chop
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) Hew">  b) Hew
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) Gnaw ">  c) Gnaw
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) Swat"> d) Swat  
              </td>
         </h3>


    
    </tr> 
    <br>

    <tr>
         <h3>
              <td>16. In the elaboration likelihood model, what motivates people to “elaborate” on a message?</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) Wanting to have correct attitudes">  a) Wanting to have correct attitudes
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) Wanting to have consistent attitudes">  b) Wanting to have consistent attitudes
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) Wanting to agree with others ">  c) Wanting to agree with others
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) All of the above"> d) All of the above  
              </td>
         </h3>

         
    
    </tr> 
    <br>

    <tr>
         <h3>
              <td>17. Suppose one day you decided to support a new policy that had been recommended by an expert. What    route was most likely used to persuade you?</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) Central route">  a) Central route
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) Peripheral route">  b) Peripheral route
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) Both routes simultaneously ">  c) Both routes simultaneously
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) It depends"> d) It depends  
              </td>
         </h3>

         
    
    </tr> 
    <br>    

    <tr>
         <h3>
              <td>18. If your friend manages to convince you of something by using a very long list of arguments, which route to persuasion is in effect?</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) Central route">  a) Central route
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) Peripheral route">  b) Peripheral route
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) Both routes simultaneously ">  c) Both routes simultaneously
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) It depends"> d) It depends  
              </td>
         </h3>

         
    
    </tr> 
    <br>  

    <tr>
         <h3>
              <td>19. What type of behaviour might be predicted especially well by implicit measures?</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) A person’s tone of voice when talking with an outgroup member">  a) A person’s tone of voice when talking with an outgroup member
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) A person’s ratings on a scale that measures their feelings of prejudice">  b) A person’s ratings on a scale that measures their feelings of prejudice
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) What a person says to an outgroup member ">  c) What a person says to an outgroup member
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) All of the above"> d) All of the above  
              </td>
         </h3>

         
    
    </tr> 
    <br>

    <tr>
         <h3>
              <td>20. If you respond more quickly to the word “great” than you do to the word “terrible” after being primed with a picture of a puppy, what might you conclude from this event?  
              </td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) You have a relatively strong association between puppies and greatness">  a) You have a relatively strong association between puppies and greatness
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) Your attitude toward puppies is relatively accessible">  b) Your attitude toward puppies is relatively accessible
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) Both A and B ">  c) Both A and B
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) Neither A nor B"> d) Neither A nor B  
              </td>
         </h3>

         
    
    </tr> 
    <br>

    <tr>
         <h3>
              <td>21. A fifteen year old girl has been sent home from school on three occasions for drinking alcohol at school. Each time, the mother becomes angry and threatens to punish the girl but is convinced by the father to give her another chance. Which of the following BEST characterizes the father's behaviour in this situation? </td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) Triangulation ">  a) Triangulation 
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) Enabling">  b) Enabling
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) Advocating ">  c) Advocating
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) Manipulating"> d) Manipulating  
              </td>
         </h3>

         
    
    </tr> 
    <br>

    <tr>
         <h3>
              <td>22. Which of the following approaches would be MOST appropriate to use in evaluating client satisfaction with the social worker's provision of services? </td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) using a single system design, evaluate the quality of services ">  a) using a single system design, evaluate the quality of services 
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) in the final interview, ask the client about their level of satisfaction">  b) in the final interview, ask the client about their level of satisfaction
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) after submitting process recordings, ask supervisor for feedback ">  c) after submitting process recordings, ask supervisor for feedback
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) at termination, ask clients to complete a service evaluation and satisfaction form"> d) at termination, ask clients to complete a service evaluation and satisfaction form  
              </td>
         </h3>

         
    
    </tr> 
    <br>

    <tr>
         <h3>
              <td>23. When conducting an assessment of the risk factors of child abuse for a child of a different ethnic background, a social worker must FIRST:</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) be aware of how personal cultural biases affect the social worker's ability to deal with issues of diversity">  a) be aware of how personal cultural biases affect the social worker's ability to deal with issues of diversity
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) realize that assessment models are not a substitute for clinical judgment or experience">  b) realize that assessment models are not a substitute for clinical judgment or experience
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) use a strengths' perspective rather than a deficit model to form a partnership with the child's family ">  c) use a strengths' perspective rather than a deficit model to form a partnership with the child's family
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) understand the need for appropriate eye contact, tone of voice and question techniques during the assessment"> d) understand the need for appropriate eye contact, tone of voice and question techniques during the assessment  
              </td>
         </h3>

         
    
    </tr> 
    <br>

    <tr>
         <h3>
              <td>24. Social Work refers to</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) Providing social service to people">  a) Providing social service to people
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) Helping people to help themselves">  b) Helping people to help themselves
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) Organizing charitable works  ">  c) Organizing charitable works 
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) Orphanages, destitute homes, poor homes"> d) Orphanages, destitute homes, poor homes  
              </td>
         </h3>

         
    
    </tr> 
    <br>

    <tr>
         <h3>
              <td>25. Parents continually refuse to communicate with their child who is in a residential treatment facility. The social worker should FIRST: </td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) Respect the parent's need for separation by not contacting them ">  a) Respect the parent's need for separation by not contacting them 
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) Request that the child be discharged ">  b) Request that the child be discharged 
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) Contact the parents about the child's placement  ">  c) Contact the parents about the child's placement 
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) Assess the child's response to the parents' actions"> d) Assess the child's response to the parents' actions  
              </td>
         </h3>

         
    
    </tr> 
    <br>


<!-- change after this -->
<!-- change after this -->
<!-- change after this -->
<!-- change after this -->
<!-- change after this -->

    <tr>
         <h3>
              <td>26. Which option will suit the given figure
              </td>
              <img src="images/26.jpg" class="img-responsive">
              
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) a">  a) a
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) b">  b) b
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) c ">  c) c
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) d"> d) d  
              </td>
         </h3>

         
    
    </tr> 
    <br>

    <tr>
         <h3>
              <td>27. <img src="images/27a.jpg" class="img-responsive">  
              </td>
              <img src="images/27b.jpg" class="img-responsive"> 
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) a">  a) a
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) b">  b) b
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) c ">  c) c
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) d"> d) d  
              </td>
         </h3>

         
    
    </tr> 
    <br>
  <tr>
         <h3>
              <td>28. <img src="images/28.jpg" class="img-responsive">  
              </td>
               
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) a">  a) a
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) b">  b) b
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) c ">  c) c
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) d"> d) d  
              </td>
         </h3>

         
    
    </tr> 
    <br>
      <tr>
         <h3>
              <td>29. <img src="images/27a.jpg" class="img-responsive">  
              </td>
               
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) a">  a) a
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) b">  b) b
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) c ">  c) c
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) d"> d) d  
              </td>
         </h3>

         
    
    </tr> 
    <br>
      <tr>
         <h3>
              <td>30. <img src="images/30.jpg" class="img-responsive">  
              </td>
              
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value=" a) a">  a) a
                                </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b) b">  b) b
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c) c ">  c) c
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d) d"> d) d  
              </td>
         </h3>

         
    
    </tr> 
    



    
    <br>
    <br>
     <h4><a href="F:\SIH\template\result\result.html">Submit</a></h4>
                                   </div>
                                    
                              </div>


                         

               </div>
          </div>

          


     </section> 







     <!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Address</h2>
                              </div>
                              <address>
                                   <p>C. V. Raman College of Engineering <br> Bhubaneshwar, Odissa</p>
                              </address>

                              <ul class="social-icon">
                                   <li><a href="https://www.linkedin.com/school/cv-raman-college-of-engineering-cvrce-bhubaneswar/about"class="fa fa-linkedin"></a></li>
                                   <li><a href="https://cgu-odisha.ac.in/" class="fa fa-google"></a></li>
                                   <li><a href="https://www.instagram.com/cvrgu_timeline/" class="fa fa-instagram"></a></li>
                              </ul>

                              <div class="copyright-text"> 
                                   <p>Copyright &copy; 2020 Team Braniacs_1.0</p>
                                   
                                   <p>Smart India Hackathon</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Contact Info</h2>
                              </div>
                              <address>
                                   <p>+91 8847841320, +91 0657 2314074</p>
                                   <p><a href="mailto:taniyaghosh2209@gmail.com">taniyaghosh2209@gmail.com</a></p>
                              </address>

                              <div class="footer_menu">
                                   <h2>Quick Links</h2>
                                   <ul>
                                        <li><a href="#courses">Career</a></li>
                                        <li><a href="#">School Students</a></li>
                                        <li><a href="#">Graduates</a></li>
                                        <li><a href="#">Dropouts</a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="section-title">
                                   <h2>Know more about our Psychometric Analyst</h2>
                              </div>
                             <ul>
                                        <li><a href="https://onelife.net.in/" >   One Life</a></li>
                                        
                                   </ul>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->
     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>




 
  

  
</body>
</html>