<html>
<head>
	<title>Sign Up Form</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="sign-up-form">
		<img scr="C:\Users\ASUS\braniacs_1.0\template\img.jpg">
		<h1>Sign Up Now</h1>
		<form>
			<input type="email" class="input-box" placeholder="Your Email">
            <input type="password" class="input-box" placeholder="Your password">
            <p><span><input type="checkbox"></span>I agree to Terms of services</p>
            <button onclick="window.location.href='';">
      Sign up
    </button>
            <hr>
            <p class="or">OR</p>
            <button type="button" class="Gmail-btn">Login</button>
		</form>
	</div>
</body>
</html>