{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

     <title>MCQ4</title>
<!-- 

Known Template 

https://templatemo.com/tm-516-known

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
     <link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}">
     <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">



     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/mcq4.css'%}">
     
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="index" class="navbar-brand">Questrite</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="index" class="smoothScroll">Home</a></li>
                         <li><a href="about" class="smoothScroll">About Us</a></li>
                         <li><a href="analyst" class="smoothScroll">Psychometric Analysts</a></li>
                         <li><a href="ourservices" class="smoothScroll">Our Tests</a></li>
                         <li><a href="reviews" class="smoothScroll">Reviews</a></li>
                         <li><a href="contactus" class="smoothScroll">Contact Us</a></li>
                         
                         <li><a href="faqs" class="smoothScroll">FAQs</a></li>
                         {% if user.is_authenticated %}
                         <li>Hello, {{user.first_name}}</li>
                         <li><a href="logout" class="smoothScroll">Log out</a></li>
                         {% else %}
                         <li><a href="signup" class="smoothScroll">Sign Up</a></li>
                         {% endif %}

                    </ul>

                    
               </div>

          </div>
     </section>

     <h3 >
         
          <div style="text-align: right"  id="google_translate_element"></div>
          </h3>
     
          <script type="text/javascript">
          function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
          }
          </script>
          
          <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

     

 <!-- TESTIMONIAL -->
     <section id="testimonial">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         
                         
                               <div class="section-title">
                              <h2> Personality Test <small>All the best!</small></h2>
                         </div>



                         <form method="POST">
                              {% csrf_token %}

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                    <h3><u>Instruction:</u> The options are ranging from 1 to 5 where 1 is most dislikely and 5 is most likely.
                              So, rate your interest within the options 1 to 5</h3>
                                         <tr>
         <h3>
              <td>1. Test the quality of parts before shipment</td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP1" value="e">  e) 5  
              </td>
         </h3>
    </tr>
    <br>
                                      

                             <tr>
         <h3>
              <td>2. Lay brick or tile</td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP2" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP2" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP2" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP2" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP2" value="e">  e) 5  
              </td>
         </h3>
    </tr>      
    <br>       
                   <tr>
         <h3>
              <td>3. Work on an offshore oil-drilling rig.</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP3" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP3" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP3" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP3" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP3" value="e">  e) 5  
              </td>
         </h3>
    
    </tr> 
    <br>                       
    <tr>
         <h3>
              <td>4. Assemble electronic parts.</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP4" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP4" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP4" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP4" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP4" value="e">  e) 5  
              </td>
         </h3>
    
    </tr> 
    <br>  
     <tr>
         <h3>
              <td>5. Operate a grinding machine in a factory.</td>
         </h3>
        
        <h3>
              <td>
                   <input type="radio" name="GROUP5" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP5" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP5" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP5" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP5" value="e">  e) 5  
              </td>
         </h3>
    
    </tr> 
    <br> 
     <tr>
         <h3>
              <td>6. Fix a broken faucet</td>
             
           
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP6" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP6" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP6" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP6" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP6" value="e">  e) 5  
              </td>
         </h3>
    
    </tr> 
    <br>                     
    <tr>
         <h3>
              <td> 7. Assemble products in a factory</td>
         </h3>
        
        <h3>
              <td>
                   <input type="radio" name="GROUP7" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP7" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP7" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP7" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP7" value="e">  e) 5  
              </td>
         </h3>
    </tr> 
    <br>                 
    <tr>
         <h3>
              <td>8. Install flooring in houses</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP8" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP8" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP8" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP8" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP8" value="e">  e) 5  
              </td>
         </h3>
    
    </tr> 
    <br>       
     <tr>
         <h3>
              <td>9. Study the structure of the human body</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP9" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP9" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP9" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP9" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP9" value="e">  e) 5  
              </td>
         </h3>
    
    </tr> 
    <br>      
    <tr>
         <h3>
              <td>10. Study animal behavior</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP10" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP10" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP10" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP10" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP10" value="e">  e) 5  
              </td>
         </h3>
    
    </tr> 
    <br>      
    <tr>
         <h3>
              <td>11. Do research on plants or animals</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP11" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP11" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP11" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP11" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP11" value="d">  e) 5  
              </td>
         </h3>
    
    </tr> 
    <br>     
        <tr>
         <h3>
              <td>12. Develop a new medical treatment or procedure</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP12" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP12" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP12" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP12" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP12" value="e">  e) 5  
              </td>
         </h3>
    
    </tr> 
    <br> 
      <tr>
         <h3>
              <td>13. Conduct biological research.</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP13" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP13" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP13" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP13" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP13" value="e">  e) 5  
              </td>
         </h3>
    </tr> 
    <br>  
          <tr>
         <h3>
              <td>14. Study whales and other types of marine life</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP14" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP14" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP14" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP14" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP14" value="e">  e) 5  
              </td>
         </h3>
    
    </tr> 
    <br>      

          <tr>
         <h3>
              <td>15. Work in a biology lab</td>
         </h3>
        
         
         <h3>
              <td>
                   <input type="radio" name="GROUP15" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP15" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP15" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP15" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP15" value="e">  e) 5  
              </td>
         </h3>
    </tr> 
    <br>      
    <tr>
         <h3>
              <td>16. Make a map of the bottom of an ocean
</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP16" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP16" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP16" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP16" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP16" value="e">  e) 5  
              </td>
         </h3>
    
    </tr> 
    <br> 
    <tr>
         <h3>
              <td>17. Conduct a musical choir</td>
         </h3>
        
        <h3>
              <td>
                   <input type="radio" name="GROUP17" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP17" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP17" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP17" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP17" value="e">  e) 5  
              </td>
         </h3>
        
    
    </tr> 
    <br>  

          <tr>
         <h3>
              <td>18. Direct a play</td>
         </h3>
        
        <h3>
              <td>
                   <input type="radio" name="GROUP18" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP18" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP18" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP18" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP18" value="e">  e) 5  
              </td>
         </h3>
    
    </tr> 
    <br>   
    <tr>
         <h3>
              <td>19. Design artwork for magazines</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP19" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP19" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP19" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP19" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP19" value="e">  e) 5  
              </td>
         </h3>
    </tr> 
                <br>   
    <tr>
         <h3>
              <td>20. Write a song</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP20" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP20" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP20" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP20" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP20" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>21. Write books or plays</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP21" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP21" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP21" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP21" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP21" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>22. Play a musical instrument</td>
         </h3>
        
<h3>
              <td>
                   <input type="radio" name="GROUP22" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP22" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP22" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP22" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP22" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>23. Perform stunts for a movie or television show</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP23" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP23" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP23" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP23" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP23" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>24. Design sets for plays</td>
         </h3>
        
            <h3>
              <td>
                   <input type="radio" name="GROUP24" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP24" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP24" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP24" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP24" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>25. Give career guidance to people</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP25" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP25" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP25" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP25" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP25" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>26. Do volunteer work at a non-profit organization</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP26" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP26" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP26" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP26" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP26" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>27. Help people who have problems with drugs or alcohol</td>
         </h3>
        
        <h3>
              <td>
                   <input type="radio" name="GROUP27" value="a" required >  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP27" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP27" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP27" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP27" value="e">  e) 5  
              </td>
         </h3> 
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>28. Teach an individual an exercise routine</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP28" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP28" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP28" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP28" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP28" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>29. Help people with family-related problems</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP29" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP29" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP29" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP29" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP29" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>30. Supervise the activities of children at a camp</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP30" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP30" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP30" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP30" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP30" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>31. Teach children how to read</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP31" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP31" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP31" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP31" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP31" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>32. Help elderly people with their daily activities</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP32" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP32" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP32" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP32" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP32" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>33. Sell restaurant franchises to individuals</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP33" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP33" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP33" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP33" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP33" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>34. Sell merchandise at a department store</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP34" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP34" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP34" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP34" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP34" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>35. Manage the operations of a hotel</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP35" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP35" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP35" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP35" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP35" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>36. Operate a beauty salon or barber shop</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP36" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP36" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP36" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP36" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP36" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>37. Manage a department within a large company</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP37" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP37" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP37" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP37" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP37" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>38. Manage a clothing store</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP38" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP38" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP38" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP38" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP38" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
     <br>   
    <tr>
         <h3>
              <td>39. Sell houses</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP39" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP39" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP39" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP39" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP39" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
     <br>   
    <tr>
         <h3>
              <td>40.  Run a toy store</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP40" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP40" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP40" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP40" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP40" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
     <br>   
    <tr>
         <h3>
              <td>41. Generate the monthly payroll checks for an office</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP41" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP41" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP41" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP41" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP41" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
     <br>   
    <tr>
         <h3>
              <td>42. Inventory supplies using a hand-held computer</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP42" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP42" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP42" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP42" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP42" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>43. Use a computer program to generate customer bills</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP43" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP43" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP43" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP43" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP43" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>44. Maintain employee records</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP44" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP44" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP44" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP44" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP44" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>45. Compute and record statistical and other numerical data</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP45" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP45" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP45" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP45" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP45" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>46. Operate a calculator</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP46" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP46" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP46" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP46" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP46" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>47. Handle customers' bank transactions</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP47" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP47" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP47" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP47" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP47" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
    <br>   
    <tr>
         <h3>
              <td>48. Keep shipping and receiving records</td>
         </h3>
        
         <h3>
              <td>
                   <input type="radio" name="GROUP48" value="a" required>  a) 1
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP48" value="b"> b) 2
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP48" value="c">  c) 3
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP48" value="d">  d) 4  
              </td>
         </h3>
         <h3>
              <td>
                   <input type="radio" name="GROUP48" value="e">  e) 5  
              </td>
         </h3>
    </tr>           
            <br>
            <br>
            <h4>
                 <input type = "Submit" name="Submit">
               
               </h4> 
                                   </div>
                                    
                              </div>

                         

               </div>
          </div>
     </section> 


     </form>




     <!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Address</h2>
                              </div>
                              <address>
                                   <p>C. V. Raman College of Engineering <br> Bhubaneswar, Odisha</p>
                              </address>

                              <ul class="social-icon">
                                   <li><a href="https://www.linkedin.com/school/cv-raman-college-of-engineering-cvrce-bhubaneswar/about"class="fa fa-linkedin"></a></li>
                                   <li><a href="https://cgu-odisha.ac.in/" class="fa fa-google"></a></li>
                                   <li><a href="https://www.instagram.com/cvrgu_timeline/" class="fa fa-instagram"></a></li>
                              </ul>

                              <div class="copyright-text"> 
                                   <p>Copyright &copy; 2020 Team Braniacs_1.0</p>
                                   
                                   <p>Smart India Hackathon</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Contact Info</h2>
                              </div>
                              <address>
                                   <p>+91 8847841320, +91 0657 2314074</p>
                                   <p><a href="mailto:taniyaghosh2209@gmail.com">taniyaghosh2209@gmail.com</a></p>
                              </address>

                              <div class="footer_menu">
                                   <h2>Quick Links</h2>
                                   <ul>
                                        <li><a href="#courses">Career</a></li>
                                        <li><a href="#">School Students</a></li>
                                        <li><a href="#">Graduates</a></li>
                                        <li><a href="#">Dropouts</a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="section-title">
                                   <h2>Know more about our Psychometric Analyst</h2>
                              </div>
                             <ul>
                                        <li><a href="https://onelife.net.in/" >   One Life</a></li>
                                        
                                   </ul>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->
     <script src="{% static 'js/jquery.js'%}"></script>
     <script src="{% static 'js/bootstrap.min.js'%}"></script>
     <script src="{% static 'js/owl.carousel.min.js'%}"></script>
     <script src="{% static 'js/smoothscroll.js'%}"></script>
     <script src="{% static 'js/custom.js'%}"></script>




 
  

  
</body>
</html>